/* Normal */
.normal,
.pokeball.normal-color:after,
.pokeball.normal-color:before {
    background-color: #a6a877;
}
.pokeball.normal-color{
    background-color: #B8B992;
}
.pokeball.normal-color .button{
    border-color: #a6a877;
}

/* Grass */
.grass,
.pokeball.grass-color:after,
.pokeball.grass-color:before {
    background-color: #48D0B0;
}
.pokeball.grass-color{
    background-color: #6DD9C0;
}
.pokeball.grass-color .button{
    border-color: #48D0B0;
}

/* fire */
.fire,
.pokeball.fire-color:after,
.pokeball.fire-color:before {
    background-color: #FB6C6C;
}
.pokeball.fire-color{
    background-color: #FC8989;
}
.pokeball.fire-color .button{
    border-color: #FB6C6C;
}

/* Water */
.water,
.pokeball.water-color:after,
.pokeball.water-color:before {
    background-color: #678fee;
}
.pokeball.water-color{
    background-color: #85A5F1;
}
.pokeball.water-color .button{
    border-color: #678fee;
}

/* Electric */
.electric,
.pokeball.electric-color:after,
.pokeball.electric-color:before {
    background-color: #f7cf2e;
}
.pokeball.electric-color{
    background-color: #F9D958;
}
.pokeball.electric-color .button{
    border-color: #f7cf2e;
}

/* Ice */
.ice,
.pokeball.ice-color:after,
.pokeball.ice-color:before {
    background-color: #98d5d7;
}
.pokeball.ice-color{
    background-color: #ADDDDF;
}
.pokeball.ice-color .button{
    border-color: #98d5d7;
}

/* Ground */
.ground,
.pokeball.ground-color:after,
.pokeball.ground-color:before {
    background-color: #dfbf69;
}
.pokeball.ground-color{
    background-color: #E5CC87;
}
.pokeball.ground-color .button{
    border-color: #dfbf69;
}

/* Flying */
.flying,
.pokeball.flying-color:after,
.pokeball.flying-color:before {
    background-color: #a98ff0;
}
.pokeball.flying-color{
    background-color: #fff;
}
.pokeball.flying-color .button{
    border-color: #a98ff0;
}

/* Poison */
.poison,
.pokeball.poison-color:after,
.pokeball.poison-color:before {
    background-color: #a040a0;
}
.pokeball.poison-color{
    background-color: #B366B3;
}
.pokeball.poison-color .button{
    border-color: #a040a0;
}

/* Fighting */
.fighting,
.pokeball.fighting-color:after,
.pokeball.fighting-color:before {
    background-color: #bf3029;
}
.pokeball.fighting-color{
    background-color: #CC5954;
}
.pokeball.fighting-color .button{
    border-color: #bf3029;
}

/* Psychic */
.psychic,
.pokeball.psychic-color:after,
.pokeball.psychic-color:before {
    background-color: #f65687;
}
.pokeball.psychic-color{
    background-color: #F8789F;
}
.pokeball.psychic-color .button{
    border-color: #f65687;
}

/* Dark */
.dark,
.pokeball.dark-color:after,
.pokeball.dark-color:before {
    background-color: #725847;
}
.pokeball.dark-color{
    background-color: #fff;
}
.pokeball.dark-color .button{
    border-color: #725847;
}

/* Rock */
.rock,
.pokeball.rock-color:after,
.pokeball.rock-color:before {
    background-color: #b8a137;
}
.pokeball.rock-color{
    background-color: #C6B45F;
}
.pokeball.rock-color .button{
    border-color: #b8a137;
}

/* Bug */
.bug,
.pokeball.bug-color:after,
.pokeball.bug-color:before {
    background-color: #a8b720;
}
.pokeball.bug-color{
    background-color: #B9C54D;
}
.pokeball.bug-color .button{
    border-color: #a8b720;
}

/* Ghost */
.ghost,
.pokeball.ghost-color:after,
.pokeball.ghost-color:before {
    background-color: #6e5896;
}
.pokeball.ghost-color{
    background-color: #8B79AB;
}
.pokeball.ghost-color .button{
    border-color: #6e5896;
}

/* Steel */
.steel,
.pokeball.steel-color:after,
.pokeball.steel-color:before {
    background-color: #b9b7cf;
}
.pokeball.steel-color{
    background-color: #fff;
}
.pokeball.steel-color .button{
    border-color: #b9b7cf;
}

/* Dragon */
.dragon,
.pokeball.dragon-color:after,
.pokeball.dragon-color:before {
    background-color: #6f38f6;
}
.pokeball.dragon-color{
    background-color: #8C60F8;
}
.pokeball.dragon-color .button{
    border-color: #6f38f6;
}

/* Fairy */
.fairy,
.pokeball.fairy-color:after,
.pokeball.fairy-color:before {
    background-color: #f9aec7;
}
.pokeball.fairy-color{
    background-color: #FABED2;
}
.pokeball.fairy-color .button{
    border-color: #f9aec7;
}