* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    transition: background .5s ;
    overflow-x: hidden;
}

body.list .content.list{
    display: block;
}

header{
    padding: 1rem;
    max-width: 992px;
    margin:0 auto;
    position: relative;
}

header::before{
    content: '';
    position: absolute;
    border-radius: 30px;
    left: -100px;
    top: -64px;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s;
    z-index: -1;
}

.voltar{
    background:none;
    border: none;
    font-size: 3rem;
    transition: all .5s
}

.voltar:hover{
    transform: translateX(-5px);
    opacity: 0.7;
}

.content {
    padding: 2rem;
    box-sizing: border-box;
}

.content h1{
    margin-top: 0;
    margin-left: 0.4rem;
}

.pagination button {
    padding: .35rem .75rem;
    margin: .35rem 0;
    font-size: .825rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 0.5rem;
}

.icon{
    height: 15px;
    width: 15px;
    background-size: contain;
    display: inline-block;
    margin-bottom: -1px;
}
.heart{
    height: 30px;
    width: 30px;
    position: absolute;
    background-image: url('../img/line_heart.svg');
    background-size: contain;
    right: 30px;
    top: 40px;
    opacity: 0;
    transition: all 1s;
}

p{
    color: #606060;
    font-weight: 300;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}