.profile .pokeball{
    transform: scale(2) translateY(100px);
    z-index: -1;
}

.content.profile{
    display: none;
}

.content.profile::after{
    content: '';
    position:absolute;
    background-color: white;
    height: 55vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
    bottom: 0;
    left: 0;
    z-index: -1;

}

body.profile .content.list{
    display: none;
}
body.profile .content.profile{
    display: block;
}

body.profile #voltar{
    color: white;
}

body.profile .content.profile .name{
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.content.profile .detail{
    flex-direction: column;
}

.content.profile .detail .types{
    display: flex;
    gap: 10px;
}

.content.profile .detail .type{
    width: 7em;
    height: 2em;
    font-size: 14px;
    line-height: 20px;
}

.content.profile .detail img{
    height: 250px;
    margin: 50px auto 0;
    z-index: 1;
}

.content.profile .information{
    height: 35vh;
    margin: 0 auto;
    max-width: 992px;
    width: 100%;
}

.tabs{
    border-bottom: 1px solid lightgray;
}

.tabs ul{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding: 0;
}

.tab{
    list-style: none;
}

.tab-link{
    color: #B6B9BD;
    text-decoration: none;
    position: relative;
    transition: all .5s;
}

.tab-link:hover::after,
.tab-link.selected:after{
    content: '';
    height: 2px;
    width: 100%;
    background: blue;
    position: absolute;
    bottom: -18px;
    left: 0;
    border-radius: 5px;
}

.tab-link:last-child:hover::after{
    right: 0;
    left: auto;
}


.tab-link.selected,
.tab-link:hover{
    color: #2f2f2f;
}

.section .title{
    color: #B6B9BD;
    width: 100px;
    display: inline-block;
} 

.section .data{
    padding-top: 30px;
}

.item.capitalize{
    text-transform: capitalize;
}

.section .item{
    height: 40px;
    display: grid;
    line-height: 40px;
    font-weight: 300;
    grid-template-columns: 1fr 3fr;
}

.bar{
    position: relative;
    width: 90%;
    background: #F8F9F8;
    height: 5px;
    float: right;
    margin: 15px 0;
}

.progress-bar{
    display: block;
    width: 60%;
    background: #ff0000;
    height: 5px;
}


